<!DOCTYPE>
<html ng-app="myApp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script type="text/javascript" src="libs/angular-bootstrap/ui-bootstrap-tpis.js"></script>
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->
<title>ERP Diagnostic</title>

<style>
</style>
<body ng-controller="CatCntrl">
<input type="file" id="myFile" size="50">
<button type="button" ng-click="myFunction()">Try it</button>
<p id="demo"></p>

	<!-- <input type="file" name="file" file-model="myFile">
	 <button ng-click="image(myFile)">Submit</button>  -->
	<!-- Image:
    <input type="file" name="file" onchange="angular.element(this).scope().photoChanged(this.files)" />
    <img ng-src="{{ thumbnail.dataUrl }}" /> -->
</body>
<script>

</script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script> 
    <script type="text/javascript" src="controllers/usercontroller.js"></script> 
</html>