<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8"/>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Optional theme -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js">
    </script>
<title>Transaction</title>
</head>
  <style>
    .btn{
      width:100px;
      margin: 20px;
    }
    .container-fluid{
      background-color: gainsboro;
/*      background-color: #505050*/
      border: 2px solid black;
    }
    .container{
      border: 2px solid black;
      height:90%;
      
    }
    #idid{
      width:85px;
    }
    .padding-0{
      padding-left: -50;
      padding-right: -50;
    }
    #rate {
	margin-left: 10px;
}
    #table1{
      height: 70%;
      background-color: aqua;
    }
    .outer{
		border:2px solid;
		height: 300px;
		width: 1100px;
		margin-left:05px;
		margin-top: 5px;
		background-color: white; 
	      }
      .inner{
		border:2px solid;
		height: 200px;
		width: 400px;
		margin-left:05px;
		margin-top: 5px;
		background-color: white;
	      }
       .sider{
		border:2px solid;
		height: 270px;
		width: 400px;
		margin-left:410px;
		margin-top: -200px;
		background-color: white;
	      }
    
    .sider2{
/*    border:2px solid white;*/
    height: 250px;
    width: 300px;
    margin-left:820px;
    margin-top: 0px;
/*    background-color: white;*/
        }

  </style>

  <body ng-controller="purchaseCntrl" ng-cloak>
    <form name="myForm" onsubmit=" return validateform()">
    <div class = "container-fluid">
      <label><h3 style="background-color: white"><b>Main Transaction</b></h3></label>
      <button type="button" class="btn btn-default">List</button>
      <div class = "container">
         <br>
          <div class ="row1">
            <div class = "col-sm-5 padding-0" style="margin-left: 0">
            <label>Date:</label><input type = "date" style="width:150px" ng-model="date2.date1">&nbsp;&nbsp;
<!--            </div>-->
            
<!--            <div class = "col-sm-3 padding-0" style="margin-left: 0">-->
              <label><span style="color: red;font-size: 25px;padding-top: 0px"><b>*</b></span>Transaction:
              <select ng-change ="transactioncall(transactiontype)" ng-model = "transactiontype">
                <option></option>
                <option ng-repeat = "transaction in transactionType " id="idid">{{transaction.transactionType}}</option>
              </select>
              </label>
            </div>
            
            <div class = "col-sm-2 padding-0">
            <label>Voch_No:<input type = "number" id="idid" ng-model="vouchernumber1" readonly></label>
            </div>
<!--               <td> <select ng-model="item.AccNo" ng-show="transaction != 'Issue Voucher'&&transaction != 'Receipt Voucher'">-->
            <div class = "col-sm-3 padding-0">
            <label>Ref.Date:<input type = "date" ng-disabled="transactiontype == 'Opening Stock'||transactiontype == 'Purchase' ||transactiontype == 'Stock Transfer' ||transactiontype == 'Sale' ">
            </label>
            </div>
            <div class = "col-sm-2 padding-0">
            <label><span style="color: red;font-size: 25px;padding-top: 0px"><b>*</b></span>Ref.No:<input type = "number" id="idid" ng-model="referenceno" ng-disabled="transactiontype == 'Opening Stock' ||transactiontype == 'Stock Transfer' ||transactiontype == 'Sale' " required></label>
            </div>
            </div>
        <div class="clearfix"></div>
        <br>
        
        <div class ="row2">
           <div class ="col-sm-3 padding-0">
             <label><span style="color: red;font-size: 25px;padding-top: 0px"><b>*</b></span>Stock Point:
              <select ng-model="stockid" ng-change="stockpointfrom(stockid)">
                <option></option>
                   <option ng-repeat = "stockpoint in stockpointname">{{stockpoint.StockPointName}}</option>
              </select>
             </label>
            </div>
          
            <div class = "col-sm-2 padding-0">
            <label><span style="color: red;font-size: 25px;padding-top: 0px"><b>*</b></span>To:
              <select  ng-model="newstockid" ng-change="stockpointto(newstockid)" ng-disabled="transactiontype == 'Opening Stock'||transactiontype == 'Purchase' ||transactiontype == 'Sale'" >
                <option></option>
<!--                   <option ng-repeat="party in partyname">{{party.partyName}}</option>-->
                <option ng-repeat = "stockpoint in stockpointname">{{stockpoint.StockPointName}}</option>
              </select>
            </label>
            </div>
             
            <div class = "col-sm-3 padding-0" style="margin-left: 0">
            <label><span style="color: red;font-size: 25px;padding-top: 0px"><b>*</b></span>Party:
              <select ng-model="party" ng-change="partyid(party)" ng-disabled="transactiontype == 'Opening Stock'||transactiontype == 'Stock Transfer' ||transactiontype == 'Sale'">
                <option></option>
                   <option ng-repeat="party in partyname">{{party.partyName}}</option>
              </select>
            </label>
              <button type="button" class=" btn-default" id="idid" ng-disabled="transactiontype == 'Opening Stock'||transactiontype == 'Purchase' ||transactiontype == 'Stock Transfer' ||transactiontype == 'Sale'" >New</button>
            </div>
          
          <div class = "col-sm-2" id="section">
            <label><span style="color: red;font-size: 25px;padding-top: 0px"><b>*</b></span>Section:
              <select ng-model="sectionnames" ng-change="getsection(sectionnames)" ng-disabled="transactiontype == 'Opening Stock'||transactiontype == 'Purchase'||transactiontype == 'Stock Transfer'">
                <option></option>
                  <option ng-repeat="section in sectioname">{{section.SectionName}}</option>
              </select>
            </label>
          </div>
          
          <div class = "col-sm-2">
            <span id ="rate" >
              <label pull-left><span style="color: red;font-size: 25px;padding-top: 0px"><b>*</b></span>Rate:<input type = "number | number:3" id="idid" style="height: 40px;width: 100px;color:blue;font-size: 30px" ng-model="finalrate" ng-blur = "itemtaxfun()" required  ></label>
              </span>
          </div>
          
        </div>
        <div class="clearfix"></div>
         <br>
<!--        <select ng-model="getcharge" ng-change="sale(getcharge)">-->
        <div class ="row3">
           <div class ="col-sm-6 padding-0 row">
              <label><span style="color: red;font-size: 25px;padding-top: 0px"><b>*</b></span>Item Code:</label>
             <b><input list="itemname" name="itemname" id="idid" ng-model="itemcode" ng-blur="itemdetailsfetchfun(itemcode,date2.date1)" required></b>
              <datalist id = "itemname">
                <select>
                  <option ng-repeat="item in itemdetails" ng-model="itemcode">{{item.ItemCode}}</option>
                 </select>
                 </datalist>
             <span style="font-size: 20px;color: blue">{{skuitemname}}&nbsp;{{uomsize}}&nbsp;{{qty}}{{newnetquantity | number : 3}}</span>
             </div> 
          
            <div class = "col-sm-6 padding-0">
              
              <label><span style="color: red;font-size: 25px;padding-top: 0px"><b>*</b></span>UOM:
              <select ng-model="umosize" ng-change="ratecalc(umosize)">
                   <option ng-repeat="uomsize in umosizefound">{{uomsize.UOM}}</option>
              </select>
               </label>&nbsp;&nbsp;
              
            <label><span style="color: red;font-size: 25px;padding-top: 0px"><b>*</b></span>Pieces:<input type = "Number" id="idid" ng-model="pieceNo" ng-blur="stockcalculation(umosize,pieceNo)"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--            </div>-->
             
<!--            <div class = "col-sm-2 padding-0">-->
<!--
            <label><span style="color: red;font-size: 25px;padding-top: 0px"><b>*</b></span>UOM:
              <select ng-model="umosize" ng-change="ratecalc(umosize)">
                   <option ng-repeat="uomsize in umosizefound">{{uomsize.UOM}}</option>
              </select>
               </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
-->
<!--
            </div>
             
            <div class = "col-sm-3 padding-0">
-->
            <label>Discount:
              <select ng-disabled="transactiontype == 'Opening Stock'||transactiontype == 'Purchase'||transactiontype == 'Stock Transfer' ||transactiontype == 'Sale'">
                <option></option>
                   <option>Discount</option>
              </select>
               </label>
              <input type = "text" id="idid" ng-model = "discountname" ng-disabled="transactiontype == 'Opening Stock'||transactiontype == 'Purchase'||transactiontype == 'Stock Transfer' ||transactiontype == 'Sale'">
            </div> 
    
<!--
          <div class = "col-sm-2">
            <span id ="rate">
              <label pull-left>Rate:<input type = "text" id="idid" style="height: 40px;width: 100px;color:blue;font-size: 30px" ng-model="purchaserate"></label>
              </span>
          </div>
-->
          
        </div>
        <br><br>
        <div class="outer" style="overflow: auto">
            <table class="table table-bordered" style="overflow:auto">
              <thead style="font-size: 15px">
	    		<tr>
	    			<th>Sl No</th>
	    			<th>Item</th>
	    			<th>Qty</th>
	    			<th>Pieces</th>
	    			<th>UOM</th>
	    			<th>Rate</th>
	    			<th>Disc Rate</th>
	    			<th>Disc Type</th>
	    			<th>Value</th>
	    		</tr>
              </thead>
              <tbody>
                <tr ng-repeat = "purchase in purchaseitem1" ng-model="purchaseitem1">
                  <td ng-model="index">{{$index+1}}</td>
                  <td ng-model="purchase.item">{{purchase.item}}</td>
                  <td ng-model="purchase.quantity">{{purchase.quantity}}</td>
                  <td ng-model="purchase.pieces">{{purchase.pieces}}</td>
                  <td ng-model="purchase.umo">{{purchase.umo}}</td>
                  <td ng-model="purchase.Rate">{{purchase.Rate| number : 3}}</td>
                  <td ng-model="purchase.discrate">{{purchase.discountamt| number : 3}}</td>
                  <td ng-model="purchase">{{purchase.discounttype}}</td>
                  <td ng-model="purchase.value">{{purchase.value| number : 3}}</td>
                </tr>
              </tbody>
	    	</table>
	    	</div>
        <br>
        <div class="row">
        <div class=" col-md-3 table" style="width: 320px;">
             	<table class="table table-bordered" style="border:2px solid">
                <thead style="font-size: 15px">
                <tr>
                <th>Name</th>
                <th>Method</th>
                <th>Value</th>
                <th>Amount</th>
                </tr>
                </thead>
                <tr style="background-color:dodgerblue;color: white">
                <td>TCS</td>
                <td>AMOUNT</td>
                <td>0</td>
                <td>00</td>
                </tr>
                <tr>
                <td>RoundOff</td>
                <td>AMOUNT</td>
                <td>0</td>
                <td>00</td>
                </tr>
                <tbody>
                </tbody>
                </table>
          </div>
        <div class="col-md-4 table" id="yash" style="width:360px">
          <table class="table table-bordered">
                <tbody style="font-size:15px;border:2px solid">
                <tr style="background-color:dodgerblue;color: white"><th style="width:50%">Taxable Value</th>
                  <td>{{taxablevalue1 | number : 3}}</td>
                  </tr>
                  <tr><th>Tax</th>
                    <td>{{tax1 | number : 3}}</td>
                  </tr>
                  <tr><th>Discount</th>
                    <td>00</td>
                  </tr>
                  <tr><th>Sub Total</th>
                  
                  <td>{{subtotal1 | number : 3}}</td></tr>
                  <tr><th>Charges</th>
                  <td>00</td>
                  </tr>
                  <tr><th>Invoice Value</th>
                    <td>{{invoicevalue1 | number : 3}}</td>
                  </tr>
                  <tr><th>Adjustment</th>
                    <td>00</td>
                  </tr>
            </tbody>
            </table>
          
        </div>
        <br>
        <div class=" col-md-5">
        <span style="font-size: 19px">Item Disc Total:00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Final Item Value: {{finalvalue | number : 3}} </span>
        <p style="font-size:30px">Items:{{totalitems}}</p>
        <p style="font-size:30px">Pieces:{{piece}}</p>
        <p style="font-size:30px;color:blue"> Nett:{{finalvalue | number : 3}} </p>
        </div>
        </div>
        
        <br>
        <div>
        <button type="button" class=" btn-default" id="idid">Delete</button>
        <span style="margin-left: 100px">
        <label>Remarks:<input type = "text" style="width:300px"></label>
        </span>
        </div>
      </div>
      <br>
      <div>
        <span style="margin-left: 70px">
        <button type="button" class=" btn-default" id="idid">Export</button>
        </span>
        <span style="margin-left: 350px">
        <button type="button" class=" btn-default" id="idid" ng-click="stockdetailsave(vouchernumber,date2.date1,purchaseitem1,referenceno,index);stockbooksave(vouchernumber1)">Save</button>
        <button type="button" class=" btn-default" id="idid">Cancel</button>
        <button type="button" class=" btn-default" id="idid">Close</button>
        </span>
      </div>
      </div>
    </form>
  </body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script type="text/javascript" src="controllers/newtransactioncntrl.js"></script>
  </html>
